In [1]:
import pandas as pd
hospitalcost=pd.read_csv('../HospitalCosts/HospitalCosts.csv')
hospitalcost.head()

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2   1.0    2660     560
1   17       0    2   1.0    1689     753
2   17       1    7   1.0   20060     930
3   17       1    1   1.0     736     758
4   17       1    1   1.0    1194     754

In [2]:
import pandas as pd
import numpy as np
hospitalcost.head()

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2   1.0    2660     560
1   17       0    2   1.0    1689     753
2   17       1    7   1.0   20060     930
3   17       1    1   1.0     736     758
4   17       1    1   1.0    1194     754

In [3]:
import pandas as pd
import numpy as np
hospitalcost.drop(['TOTCHG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.drop(['APRDRG'], axis=1, inplace=True)
hospitalcost.head()

   AGE  FEMALE  LOS  RACE
0   17       1    2   1.0
1   17       0    2   1.0
2   17       1    7   1.0
3   17       1    1   1.0
4   17       1    1   1.0

In [4]:
import pandas as pd
hospitalcost=pd.read_csv('../HospitalCosts/HospitalCosts.csv')
hospitalcost.head()
import numpy as np
hospitalcost.isnull().sum()
hospitalcost.dropna(inplace=True)
hospitalcost.drop(['TOTCHG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.drop(['APRDRG'], axis=1, inplace=True)
hospitalcost.head()

   AGE  FEMALE  LOS  RACE
0   17       1    2   1.0
1   17       0    2   1.0
2   17       1    7   1.0
3   17       1    1   1.0
4   17       1    1   1.0

In [5]:
import pandas as pd
hospitalcost=pd.read_csv('../HospitalCosts/HospitalCosts.csv')
hospitalcost.head()
import numpy as np
hospitalcost.dropna(inplace=True)
hospitalcost.drop(['TOTCHG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.drop(['APRDRG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.isnull().sum()

AGE       0
FEMALE    0
LOS       0
RACE      0
dtype: int64

In [6]:
import pandas as pd
hospitalcost=pd.read_csv('../HospitalCosts/HospitalCosts.csv')
hospitalcost.head()
import numpy as np
hospitalcost.isnull().sum()
hospitalcost.dropna(inplace=True)
hospitalcost.drop(['TOTCHG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.drop(['APRDRG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.isna().sum()

AGE       0
FEMALE    0
LOS       0
RACE      0
dtype: int64

In [7]:
import pandas as pd
hospitalcost=pd.read_csv('../HospitalCosts/HospitalCosts.csv')
hospitalcost.head()
import numpy as np
hospitalcost.isnull().sum()
hospitalcost.dropna(inplace=True)
hospitalcost.drop(['TOTCHG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.drop(['APRDRG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.isna().sum()
X = hospitalcost.drop(['LOS'], axis=1)
Y = hospitalcost['LOS']
hospitalcost.head()

   AGE  FEMALE  LOS  RACE
0   17       1    2   1.0
1   17       0    2   1.0
2   17       1    7   1.0
3   17       1    1   1.0
4   17       1    1   1.0

In [1]:
import pandas as pd
hospitalcost=pd.read_csv('../HospitalCosts/HospitalCosts.csv')
hospitalcost.head()
import numpy as np
hospitalcost.isnull().sum()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
hospitalcost.dropna(inplace=True)
hospitalcost.drop(['TOTCHG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.drop(['APRDRG'], axis=1, inplace=True)
hospitalcost.head()
hospitalcost.isna().sum()
X = hospitalcost.drop(['LOS'], axis=1)
Y = hospitalcost['LOS']
hospitalcost.head()
X_train = np.array(X[0:int(0.80*len(X))])
Y_train = np.array(Y[0:int(0.80*len(Y))])
X_test = np.array(X[int(0.80*len(X)):])
Y_test = np.array(Y[int(0.80*len(Y)):])
len(X_train), len(Y_train), len(X_test), len(Y_test)
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
LR = LogisticRegression()
KNN = KNeighborsClassifier()
NB = GaussianNB()
LSVM = LinearSVC()
NLSVM = SVC(kernel='rbf')
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()
LR_fit = LR.fit(X_train, Y_train)
KNN_fit = KNN.fit(X_train, Y_train)
NB_fit = NB.fit(X_train, Y_train)
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)
LR_pred = LR_fit.predict(X_test)
KNN_pred = KNN_fit.predict(X_test)
NB_pred = NB_fit.predict(X_test)
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)
from sklearn.metrics import accuracy_score
print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred, Y_test)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred, Y_test)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

C:\Users\silen\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\silen\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Logistic Regression is 52.000000 percent accurate
KNN is 50.000000 percent accurate
Naive Bayes is 2.000000 percent accurate
Linear SVMs is 53.000000 percent accurate
Non Linear SVMs is 49.000000 percent accurate
Decision Trees is 49.000000 percent accurate
Random Forests is 51.000000 percent accurate