In [52]:
import pandas as pd
data=pd.read_csv("../Lab5/Fat_Supply_Quantity_Data.csv")

In [53]:
import numpy as np
data['revisedObesity'] = np.where(data['Obesity']>=0.005,'High','Low')
data.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),revisedObesity
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%,High
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%,High
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%,High
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%,High
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%,High

In [55]:
data.drop(['Country','Alcoholic Beverages','Aquatic Products, Other','Cereals - Excluding Beer','Eggs','Fish, Seafood','Fruits - Excluding Wine','Offals','Oilcrops','Pulses','Spices','Starchy Roots','Stimulants','Sugar Crops','Treenuts','Vegetal Products','Vegetable Oils','Vegetables','Undernourished','Population','Unit (all except Population)','Confirmed','Recovered','Active','Deaths'], axis=1, inplace=True)

In [56]:
data.isnull().sum()

Animal Products            0
Animal fats                0
Meat                       0
Miscellaneous              0
Milk - Excluding Butter    0
Sugar & Sweeteners         0
Obesity                    3
revisedObesity             0
dtype: int64

In [57]:
data.Obesity.fillna(data.Obesity.value_counts().idxmax(), inplace=True)

In [58]:
data.isna().sum()

Animal Products            0
Animal fats                0
Meat                       0
Miscellaneous              0
Milk - Excluding Butter    0
Sugar & Sweeteners         0
Obesity                    0
revisedObesity             0
dtype: int64

In [59]:
import numpy as np
data['revisedObesity'] = np.where(data['Obesity']>=0.005,'High','Low')
data.head()

,Animal Products,Animal fats,Meat,Miscellaneous,Milk - Excluding Butter,Sugar & Sweeteners,Obesity,revisedObesity
0,21.6397,6.2224,6.1244,0.0163,8.2803,0.0,4.5,High
1,32.0002,3.4172,8.7428,0.0170,17.7576,0.0,22.3,High
2,14.4175,0.8972,3.8961,0.0439,8.0934,0.0,26.6,High
3,15.3041,1.3130,11.0268,0.0308,1.2309,0.0,6.8,High
4,27.7033,4.6686,14.3202,0.0898,6.6607,0.0,19.1,High

In [60]:
data.drop(['Obesity'], axis=1, inplace=True)

In [61]:
data

,Animal Products,Animal fats,Meat,Miscellaneous,Milk - Excluding Butter,Sugar & Sweeteners,revisedObesity
0,21.6397,6.2224,6.1244,0.0163,8.2803,0.0,High
1,32.0002,3.4172,8.7428,0.0170,17.7576,0.0,High
2,14.4175,0.8972,3.8961,0.0439,8.0934,0.0,High
3,15.3041,1.3130,11.0268,0.0308,1.2309,0.0,High
4,27.7033,4.6686,14.3202,0.0898,6.6607,0.0,High
...,...,...,...,...,...,...,...
165,16.3261,2.2673,7.0949,0.0077,5.5217,0.0,High
166,33.2484,3.8238,26.4292,0.0064,0.7520,0.0,High
167,12.5401,2.0131,8.0010,0.0256,1.3463,0.0,High
168,9.6005,1.6113,4.9010,0.0224,1.2756,0.0,High
169,10.3796,2.9543,4.5674,0.0175,2.1040,0.0,High

In [62]:
data.corr()

C:\Users\silen\AppData\Local\Temp\ipykernel_5760\2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,Animal Products,Animal fats,Meat,Miscellaneous,Milk - Excluding Butter,Sugar & Sweeteners
Animal Products,1.000000,0.686830,0.736789,0.166168,0.609437,-0.017115
Animal fats,0.686830,1.000000,0.213712,-0.049894,0.350699,-0.069776
Meat,0.736789,0.213712,1.000000,0.211577,0.102114,0.092712
Miscellaneous,0.166168,-0.049894,0.211577,1.000000,0.025195,-0.055420
Milk - Excluding Butter,0.609437,0.350699,0.102114,0.025195,1.000000,-0.166242
Sugar & Sweeteners,-0.017115,-0.069776,0.092712,-0.055420,-0.166242,1.000000

In [63]:
data.drop(['Sugar & Sweeteners'], axis=1)

,Animal Products,Animal fats,Meat,Miscellaneous,Milk - Excluding Butter,revisedObesity
0,21.6397,6.2224,6.1244,0.0163,8.2803,High
1,32.0002,3.4172,8.7428,0.0170,17.7576,High
2,14.4175,0.8972,3.8961,0.0439,8.0934,High
3,15.3041,1.3130,11.0268,0.0308,1.2309,High
4,27.7033,4.6686,14.3202,0.0898,6.6607,High
...,...,...,...,...,...,...
165,16.3261,2.2673,7.0949,0.0077,5.5217,High
166,33.2484,3.8238,26.4292,0.0064,0.7520,High
167,12.5401,2.0131,8.0010,0.0256,1.3463,High
168,9.6005,1.6113,4.9010,0.0224,1.2756,High
169,10.3796,2.9543,4.5674,0.0175,2.1040,High

In [64]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [65]:
X = data.drop(['revisedObesity'], axis=1)
Y = data['revisedObesity']

In [66]:
import numpy as np
X_train = np.array(X[0:int(0.80*len(X))])
Y_train = np.array(Y[0:int(0.80*len(Y))])
X_test = np.array(X[int(0.80*len(X)):])
Y_test = np.array(Y[int(0.80*len(Y)):])
len(X_train), len(Y_train), len(X_test), len(Y_test)

(136, 136, 34, 34)

In [67]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [68]:
KNN = KNeighborsClassifier()
DT = DecisionTreeClassifier()

In [69]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
KNN = KNeighborsClassifier()
DT = DecisionTreeClassifier()
KNN_fit = KNN.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
KNN_pred = KNN_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
from sklearn.metrics import accuracy_score
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))

KNN is 100.000000 percent accurate
Decision Trees is 100.000000 percent accurate

In [70]:
from sklearn.metrics import SCORERS, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
seed=0
cv = KFold(n_splits=5,random_state=2, shuffle=True)
def return_score(model,X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    return score
scores = []
model = KNeighborsClassifier()
for train_index, test_index in cv.split(X,Y):
    X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
    score = return_score(model,X_train, X_test, y_train, y_test)    
    scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("StratifedKFold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [1.0, 1.0, 1.0, 1.0, 1.0]
StratifedKFold Score: 1.0

In [71]:
from sklearn.metrics import SCORERS, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
seed=0
cv = StratifiedKFold(n_splits=5,random_state=2, shuffle=True)
def return_score(model,X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    return score
scores = []
model = DecisionTreeClassifier()
for train_index, test_index in cv.split(X,Y):
    X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
    score = return_score(model,X_train, X_test, y_train, y_test)    
    scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("StratifedKFold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [1.0, 1.0, 1.0, 1.0, 1.0]
StratifedKFold Score: 1.0